<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="sqc.quartz.dao.SysQuartzMapper">
  <resultMap id="BaseResultMap" type="sqc.quartz.entity.SysQuartz">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="job_name" jdbcType="VARCHAR" property="jobName" />
    <result column="description" jdbcType="VARCHAR" property="description" />
    <result column="cron_expression" jdbcType="VARCHAR" property="cronExpression" />
    <result column="expression_desc" jdbcType="VARCHAR" property="expressionDesc" />
    <result column="bean_class" jdbcType="VARCHAR" property="beanClass" />
    <result column="job_status" jdbcType="VARCHAR" property="jobStatus" />
    <result column="job_group" jdbcType="VARCHAR" property="jobGroup" />
    <result column="flag" jdbcType="INTEGER" property="flag" />
    <result column="created_by" jdbcType="VARCHAR" property="createdBy" />
    <result column="created_time" jdbcType="TIMESTAMP" property="createdTime" />
    <result column="updated_by" jdbcType="VARCHAR" property="updatedBy" />
    <result column="updated_time" jdbcType="TIMESTAMP" property="updatedTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, job_name, description, cron_expression, expression_desc, bean_class, job_status, 
    job_group, flag, created_by, created_time, updated_by, updated_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from sys_quartz
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from sys_quartz
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="sqc.quartz.entity.SysQuartz">
    insert into sys_quartz (id, job_name, description, 
      cron_expression, expression_desc, bean_class, 
      job_status, job_group, flag, 
      created_by, created_time, updated_by, 
      updated_time)
    values (#{id,jdbcType=INTEGER}, #{jobName,jdbcType=VARCHAR}, #{description,jdbcType=VARCHAR}, 
      #{cronExpression,jdbcType=VARCHAR}, #{expressionDesc,jdbcType=VARCHAR}, #{beanClass,jdbcType=VARCHAR}, 
      #{jobStatus,jdbcType=VARCHAR}, #{jobGroup,jdbcType=VARCHAR}, #{flag,jdbcType=INTEGER}, 
      #{createdBy,jdbcType=VARCHAR}, #{createdTime,jdbcType=TIMESTAMP}, #{updatedBy,jdbcType=VARCHAR}, 
      #{updatedTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="sqc.quartz.entity.SysQuartz">
    insert into sys_quartz
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="jobName != null">
        job_name,
      </if>
      <if test="description != null">
        description,
      </if>
      <if test="cronExpression != null">
        cron_expression,
      </if>
      <if test="expressionDesc != null">
        expression_desc,
      </if>
      <if test="beanClass != null">
        bean_class,
      </if>
      <if test="jobStatus != null">
        job_status,
      </if>
      <if test="jobGroup != null">
        job_group,
      </if>
      <if test="flag != null">
        flag,
      </if>
      <if test="createdBy != null">
        created_by,
      </if>
      <if test="createdTime != null">
        created_time,
      </if>
      <if test="updatedBy != null">
        updated_by,
      </if>
      <if test="updatedTime != null">
        updated_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="jobName != null">
        #{jobName,jdbcType=VARCHAR},
      </if>
      <if test="description != null">
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="cronExpression != null">
        #{cronExpression,jdbcType=VARCHAR},
      </if>
      <if test="expressionDesc != null">
        #{expressionDesc,jdbcType=VARCHAR},
      </if>
      <if test="beanClass != null">
        #{beanClass,jdbcType=VARCHAR},
      </if>
      <if test="jobStatus != null">
        #{jobStatus,jdbcType=VARCHAR},
      </if>
      <if test="jobGroup != null">
        #{jobGroup,jdbcType=VARCHAR},
      </if>
      <if test="flag != null">
        #{flag,jdbcType=INTEGER},
      </if>
      <if test="createdBy != null">
        #{createdBy,jdbcType=VARCHAR},
      </if>
      <if test="createdTime != null">
        #{createdTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedBy != null">
        #{updatedBy,jdbcType=VARCHAR},
      </if>
      <if test="updatedTime != null">
        #{updatedTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="sqc.quartz.entity.SysQuartz">
    update sys_quartz
    <set>
      <if test="jobName != null">
        job_name = #{jobName,jdbcType=VARCHAR},
      </if>
      <if test="description != null">
        description = #{description,jdbcType=VARCHAR},
      </if>
      <if test="cronExpression != null">
        cron_expression = #{cronExpression,jdbcType=VARCHAR},
      </if>
      <if test="expressionDesc != null">
        expression_desc = #{expressionDesc,jdbcType=VARCHAR},
      </if>
      <if test="beanClass != null">
        bean_class = #{beanClass,jdbcType=VARCHAR},
      </if>
      <if test="jobStatus != null">
        job_status = #{jobStatus,jdbcType=VARCHAR},
      </if>
      <if test="jobGroup != null">
        job_group = #{jobGroup,jdbcType=VARCHAR},
      </if>
      <if test="flag != null">
        flag = #{flag,jdbcType=INTEGER},
      </if>
      <if test="createdBy != null">
        created_by = #{createdBy,jdbcType=VARCHAR},
      </if>
      <if test="createdTime != null">
        created_time = #{createdTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedBy != null">
        updated_by = #{updatedBy,jdbcType=VARCHAR},
      </if>
      <if test="updatedTime != null">
        updated_time = #{updatedTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="sqc.quartz.entity.SysQuartz">
    update sys_quartz
    set job_name = #{jobName,jdbcType=VARCHAR},
      description = #{description,jdbcType=VARCHAR},
      cron_expression = #{cronExpression,jdbcType=VARCHAR},
      expression_desc = #{expressionDesc,jdbcType=VARCHAR},
      bean_class = #{beanClass,jdbcType=VARCHAR},
      job_status = #{jobStatus,jdbcType=VARCHAR},
      job_group = #{jobGroup,jdbcType=VARCHAR},
      flag = #{flag,jdbcType=INTEGER},
      created_by = #{createdBy,jdbcType=VARCHAR},
      created_time = #{createdTime,jdbcType=TIMESTAMP},
      updated_by = #{updatedBy,jdbcType=VARCHAR},
      updated_time = #{updatedTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectJob" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from sys_quartz
    where job_status =1
  </select>
  <select id="selectJobByGroup" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from sys_quartz
    where job_status =1 and job_group='report'
  </select>
  <select id="selectByJobName" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from sys_quartz
    where job_name=#{jobName} and job_group= #{jobGroup}
  </select>
</mapper>